# SalaryScope - Data Preprocessing & Cleaning

This notebook performs comprehensive data preprocessing and cleaning on three datasets for the Employee Salary Prediction AI/ML Project.

## Step 1: Import Required Libraries

In [6]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

## Step 2: Load the Datasets

In [7]:
# Load DataSet1
df1 = pd.read_csv('DataSet1.csv')
print("DataSet1 shape:", df1.shape)
print("\nDataSet1 columns:", df1.columns.tolist())
print("\nDataSet1 first 5 rows:")
df1.head()

DataSet1 shape: (500, 4)

DataSet1 columns: ['YearsExperience', 'EducationLevel', 'HoursWorkedPerWeek', 'MonthlySalary']

DataSet1 first 5 rows:

   YearsExperience  EducationLevel  HoursWorkedPerWeek  MonthlySalary
0        54.967142       34.630888          127.987109     203.054265
1        48.617357       39.547083          118.492674     156.490192
2        56.476885       23.007162          101.192607     187.670679
3        65.230299       32.814846           87.061264     187.330417
4        47.658466       26.746787          113.964466     176.868122

In [8]:
# Load DataSet2
df2 = pd.read_csv('DataSet2.csv', encoding='utf-8-sig')
print("DataSet2 shape:", df2.shape)
print("\nDataSet2 columns:", df2.columns.tolist())
print("\nDataSet2 first 5 rows:")
df2.head()

DataSet2 shape: (375, 6)

DataSet2 columns: ['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience', 'Salary']

DataSet2 first 5 rows:

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [9]:
# Load DataSet3 - This is a large file, so we'll load it in chunks if needed
df3 = pd.read_csv('DataSet3.csv', skiprows=1)  # Skip the second header row
print("DataSet3 shape:", df3.shape)
print("\nDataSet3 columns:", df3.columns.tolist())
print("\nDataSet3 first 5 rows:")
df3.head()

DataSet3 shape: (48841, 15)

DataSet3 columns: ['25', 'Private', '226802', '11th', '7', 'Never-married', 'Machine-op-inspct', 'Own-child', 'Black', 'Male', '0', '0.1', '40', 'United-States', '<=50K']

DataSet3 first 5 rows:

,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0.1,40,United-States,<=50K
0,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
1,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
2,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
3,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
4,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

## Step 3: Analyze and Standardize the Datasets

In [10]:
# Check for missing values in each dataset
print("Missing values in DataSet1:")
print(df1.isnull().sum())
print("\n" + "="*50 + "\n")

print("Missing values in DataSet2:")
print(df2.isnull().sum())
print("\n" + "="*50 + "\n")

print("Missing values in DataSet3:")
print(df3.isnull().sum())

Missing values in DataSet1:
YearsExperience       0
EducationLevel        0
HoursWorkedPerWeek    0
MonthlySalary         0
dtype: int64

==================================================

Missing values in DataSet2:
Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

==================================================

Missing values in DataSet3:
25                   0
Private              0
226802               0
11th                 0
7                    0
Never-married        0
Machine-op-inspct    0
Own-child            0
Black                0
Male                 0
0                    0
0.1                  0
40                   0
United-States        0
<=50K                0
dtype: int64

## Step 4: Process DataSet1

DataSet1 contains numerical education levels that need to be mapped to categorical values.

In [11]:
# Create education level mapping based on numerical values
# Assuming the numerical values represent years of education
def map_education_level(years):
    if years < 10:
        return '10th'
    elif years < 12:
        return '12th'
    elif years < 14:
        return 'ITI/Diploma'
    elif years < 16:
        return 'Graduation'
    elif years < 18:
        return 'Post Graduation'
    else:
        return 'PHD'

# Process DataSet1
processed_df1 = pd.DataFrame()
processed_df1['Age'] = np.round(df1['YearsExperience'] + 22).astype(int)  # Assuming starting age of 22
processed_df1['Gender'] = np.random.choice(['Male', 'Female'], size=len(df1))  # Random assignment as not available
processed_df1['Education Level'] = df1['EducationLevel'].apply(map_education_level)
processed_df1['Years of Experience'] = df1['YearsExperience'].round().astype(int)
processed_df1['Work Hours'] = df1['HoursWorkedPerWeek'].round().astype(int)
processed_df1['Salary'] = df1['MonthlySalary'] * 12  # Convert to annual salary

# Add synthetic job titles and industries based on salary ranges
def assign_job_title(salary):
    if salary < 50000:
        return np.random.choice(['Junior Developer', 'Data Entry Clerk', 'Customer Service Rep'])
    elif salary < 100000:
        return np.random.choice(['Software Engineer', 'Data Analyst', 'Marketing Analyst'])
    elif salary < 150000:
        return np.random.choice(['Senior Engineer', 'Product Manager', 'Business Analyst'])
    else:
        return np.random.choice(['Director', 'Senior Manager', 'VP'])

def assign_industry(job_title):
    if 'Developer' in job_title or 'Engineer' in job_title or 'Data' in job_title:
        return 'IT/Tech'
    elif 'Marketing' in job_title or 'Sales' in job_title:
        return 'Marketing/Sales'
    elif 'Manager' in job_title or 'Director' in job_title or 'VP' in job_title:
        return 'Management'
    else:
        return 'Other'

processed_df1['Job Title'] = processed_df1['Salary'].apply(assign_job_title)
processed_df1['Industry'] = processed_df1['Job Title'].apply(assign_industry)

print("Processed DataSet1 shape:", processed_df1.shape)
processed_df1.head()

Processed DataSet1 shape: (500, 8)

,Age,Gender,Education Level,Years of Experience,Work Hours,Salary,Job Title,Industry
0,77,Male,PHD,55,128,2436.651174,Customer Service Rep,Other
1,71,Female,PHD,49,118,1877.882302,Junior Developer,IT/Tech
2,78,Female,PHD,56,101,2252.048153,Junior Developer,IT/Tech
3,87,Female,PHD,65,87,2247.965000,Junior Developer,IT/Tech
4,70,Male,PHD,48,114,2122.417466,Junior Developer,IT/Tech

## Step 5: Process DataSet2

In [12]:
# Remove empty rows
df2_clean = df2.dropna(how='all')

# Standardize education levels
education_mapping = {
    "Bachelor's": "Graduation",
    "Master's": "Post Graduation",
    "PhD": "PHD",
    "High School": "12th"
}

processed_df2 = pd.DataFrame()
processed_df2['Age'] = df2_clean['Age']
processed_df2['Gender'] = df2_clean['Gender']
processed_df2['Education Level'] = df2_clean['Education Level'].map(education_mapping).fillna(df2_clean['Education Level'])
processed_df2['Job Title'] = df2_clean['Job Title']
processed_df2['Years of Experience'] = df2_clean['Years of Experience']
processed_df2['Salary'] = df2_clean['Salary']

# Assign work hours based on job title patterns
def assign_work_hours(job_title):
    if pd.isna(job_title):
        return 40
    if 'Senior' in str(job_title) or 'Director' in str(job_title) or 'Manager' in str(job_title):
        return np.random.randint(45, 60)
    else:
        return np.random.randint(35, 45)

processed_df2['Work Hours'] = processed_df2['Job Title'].apply(assign_work_hours)

# Assign industry based on job title
def assign_industry_from_title(job_title):
    if pd.isna(job_title):
        return 'Other'
    job_title = str(job_title).lower()
    if any(word in job_title for word in ['software', 'data', 'it', 'developer', 'engineer']):
        return 'IT/Tech'
    elif any(word in job_title for word in ['marketing', 'sales', 'business']):
        return 'Business'
    elif any(word in job_title for word in ['hr', 'human resources', 'recruiter']):
        return 'HR'
    elif any(word in job_title for word in ['finance', 'financial', 'accountant']):
        return 'Finance'
    else:
        return 'Other'

processed_df2['Industry'] = processed_df2['Job Title'].apply(assign_industry_from_title)

print("Processed DataSet2 shape:", processed_df2.shape)
processed_df2.head()

Processed DataSet2 shape: (373, 8)

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Work Hours,Industry
0,32.0,Male,Graduation,Software Engineer,5.0,90000.0,44,IT/Tech
1,28.0,Female,Post Graduation,Data Analyst,3.0,65000.0,36,IT/Tech
2,45.0,Male,PHD,Senior Manager,15.0,150000.0,55,Other
3,36.0,Female,Graduation,Sales Associate,7.0,60000.0,38,Business
4,52.0,Male,Post Graduation,Director,20.0,200000.0,49,Other

## Step 6: Process DataSet3

In [ ]:
import pandas as pd
import numpy as np

# If df3 is not already defined, create a sample DataFrame for demonstration.
if 'df3' not in locals():
    df3 = pd.DataFrame({
        'age': [25, 38, 28, 44, 18],
        'gender': [' Male', ' Female', ' Female', ' Male', ' Male'],
        'education': ['Bachelors', 'HS-grad', '11th', 'Masters', '9th'],
        'hours-per-week': [40, 50, 40, 45, 35],
        'occupation': ['Prof-specialty', 'Exec-managerial', 'Handlers-cleaners', 'Adm-clerical', 'Sales'],
        'workclass': ['Private', 'Self-emp-not-inc', 'Private', 'Federal-gov', 'Private'],
        'income': ['>50K', '<=50K', '<=50K', '>50K', '<=50K']
    })

# Map education levels from DataSet3
education_mapping_df3 = {
    'Preschool': '10th',
    '1st-4th': '10th',
    '5th-6th': '10th',
    '7th-8th': '10th',
    '9th': '10th',
    '10th': '10th',
    '11th': '12th',
    '12th': '12th',
    'HS-grad': '12th',
    'Some-college': 'Diploma',
    'Assoc-voc': 'ITI/Diploma',
    'Assoc-acdm': 'ITI/Diploma',
    'Bachelors': 'Graduation',
    'Masters': 'Post Graduation',
    'Prof-school': 'Post Graduation',
    'Doctorate': 'PHD'
}

# Check columns in df3 to debug KeyError
print("df3 columns:", df3.columns.tolist())

# Map the actual column names in df3 to expected names
# Adjust these mappings if your columns are different
col_map = {
    'Age': '25',
    'Gender': 'Male',
    'Education Level': '11th',
    'Work Hours': '40',
    'Job Title': 'Machine-op-inspct',
    'Workclass': 'Private',
    'Income': '<=50K',
    'Occupation': 'Machine-op-inspct'
}

processed_df3 = pd.DataFrame()
processed_df3['Age'] = df3[col_map['Age']]
processed_df3['Gender'] = df3[col_map['Gender']].str.strip()
processed_df3['Education Level'] = df3[col_map['Education Level']].map(education_mapping_df3).fillna('12th')
processed_df3['Work Hours'] = df3[col_map['Work Hours']]

# Map occupation to job title
occupation_to_title = {
    'Tech-support': 'IT Support',
    'Craft-repair': 'Technician',
    'Other-service': 'Service Worker',
    'Sales': 'Sales Representative',
    'Exec-managerial': 'Manager',
    'Prof-specialty': 'Professional',
    'Handlers-cleaners': 'Service Worker',
    'Machine-op-inspct': 'Machine Operator',
    'Adm-clerical': 'Administrative Assistant',
    'Farming-fishing': 'Agricultural Worker',
    'Transport-moving': 'Transport Worker',
    'Priv-house-serv': 'Service Worker',
    'Protective-serv': 'Security Officer',
    'Armed-Forces': 'Military Personnel'
}

# In df3, the occupation column is named 'Machine-op-inspct'
processed_df3['Job Title'] = df3['Machine-op-inspct'].map(occupation_to_title).fillna('Other')

# Estimate years of experience based on age and education
def estimate_experience(row):
    age = row['Age']
    education = row['Education Level']
    
    if pd.isna(age):
        return 0
    
    # Estimate starting age based on education
    start_age = {
        '10th': 16,
        '12th': 18,
        'ITI/Diploma': 20,
        'Diploma': 20,
        'Graduation': 22,
        'Post Graduation': 24,
        'PHD': 28
    }.get(education, 18)
    
    experience = max(0, age - start_age)
    return experience

processed_df3['Years of Experience'] = processed_df3.apply(estimate_experience, axis=1)

# Map workclass to industry
workclass_to_industry = {
    'Private': 'Private Sector',
    'Self-emp-not-inc': 'Self-Employed',
    'Self-emp-inc': 'Self-Employed',
    'Federal-gov': 'Government',
    'Local-gov': 'Government',
    'State-gov': 'Government',
    'Without-pay': 'Other',
    'Never-worked': 'Other'
}
# In df3, the workclass column is named 'Private'
processed_df3['Industry'] = df3['Private'].map(workclass_to_industry).fillna('Other')
# processed_df3['Industry'] = df3['workclass'].map(workclass_to_industry).fillna('Other')  # Removed: 'workclass' does not exist

# Estimate salary based on income bracket
# For <=50K, assign random salary between 20000-50000
# For >50K, assign random salary between 50001-150000
def estimate_salary(income):
    if pd.isna(income):
        return np.random.randint(30000, 60000)
    if income.strip() == '<=50K':
        return np.random.randint(20000, 50000)
    else:
        return np.random.randint(50001, 150000)

processed_df3['Salary'] = df3['<=50K'].apply(estimate_salary)

print("Processed DataSet3 shape:", processed_df3.shape)
processed_df3.head()

df3 columns: ['25', 'Private', '226802', '11th', '7', 'Never-married', 'Machine-op-inspct', 'Own-child', 'Black', 'Male', '0', '0.1', '40', 'United-States', '<=50K']

KeyError: 'income'

## Step 7: Combine All Datasets

In [5]:
# Ensure all processed DataFrames are defined
missing_vars = [var for var in ['processed_df1', 'processed_df2', 'processed_df3'] if var not in globals()]
if missing_vars:
	print(f"Please run the cell(s) that create the following variable(s) before running this cell: {', '.join(missing_vars)}")
else:
	# Combine all three processed datasets
	combined_df = pd.concat([processed_df1, processed_df2, processed_df3], ignore_index=True)

	print("Combined dataset shape before removing duplicates:", combined_df.shape)
	print("\nColumns in combined dataset:", combined_df.columns.tolist())

Please run the cell(s) that create the following variable(s) before running this cell: processed_df1, processed_df2

## Step 8: Remove Duplicates

In [ ]:
# Remove duplicate entries
combined_df_no_dup = combined_df.drop_duplicates()

print(f"Removed {len(combined_df) - len(combined_df_no_dup)} duplicate rows")
print("Combined dataset shape after removing duplicates:", combined_df_no_dup.shape)

## Step 9: Handle Missing Values

In [ ]:
# Check for missing values
print("Missing values before handling:")
print(combined_df_no_dup.isnull().sum())

# Handle missing values
# For Age: Fill with median
combined_df_no_dup['Age'].fillna(combined_df_no_dup['Age'].median(), inplace=True)

# For Gender: Fill with mode
combined_df_no_dup['Gender'].fillna(combined_df_no_dup['Gender'].mode()[0], inplace=True)

# For Education Level: Fill with '12th' (high school)
combined_df_no_dup['Education Level'].fillna('12th', inplace=True)

# For Job Title: Fill with 'Other'
combined_df_no_dup['Job Title'].fillna('Other', inplace=True)

# For Years of Experience: Fill based on age
mask = combined_df_no_dup['Years of Experience'].isna()
combined_df_no_dup.loc[mask, 'Years of Experience'] = (combined_df_no_dup.loc[mask, 'Age'] - 22).clip(lower=0)

# For Work Hours: Fill with median
combined_df_no_dup['Work Hours'].fillna(combined_df_no_dup['Work Hours'].median(), inplace=True)

# For Industry: Fill with 'Other'
combined_df_no_dup['Industry'].fillna('Other', inplace=True)

# For Salary: Fill with median
combined_df_no_dup['Salary'].fillna(combined_df_no_dup['Salary'].median(), inplace=True)

print("\nMissing values after handling:")
print(combined_df_no_dup.isnull().sum())

## Step 10: Correct Data Entry Errors and Standardize

In [ ]:
# Standardize Gender values
combined_df_no_dup['Gender'] = combined_df_no_dup['Gender'].str.strip().str.title()
combined_df_no_dup['Gender'] = combined_df_no_dup['Gender'].replace({
    'M': 'Male',
    'F': 'Female',
    'male': 'Male',
    'female': 'Female'
})

# Ensure Age is within reasonable bounds
combined_df_no_dup['Age'] = combined_df_no_dup['Age'].clip(lower=18, upper=70)

# Ensure Years of Experience is not greater than Age - 18
combined_df_no_dup['Years of Experience'] = combined_df_no_dup.apply(
    lambda row: min(row['Years of Experience'], row['Age'] - 18), axis=1
)

# Ensure Work Hours is within reasonable bounds
combined_df_no_dup['Work Hours'] = combined_df_no_dup['Work Hours'].clip(lower=10, upper=80)

# Round numerical values
combined_df_no_dup['Age'] = combined_df_no_dup['Age'].round().astype(int)
combined_df_no_dup['Years of Experience'] = combined_df_no_dup['Years of Experience'].round().astype(int)
combined_df_no_dup['Work Hours'] = combined_df_no_dup['Work Hours'].round().astype(int)
combined_df_no_dup['Salary'] = combined_df_no_dup['Salary'].round().astype(int)

# Standardize text fields
combined_df_no_dup['Education Level'] = combined_df_no_dup['Education Level'].str.strip().str.title()
combined_df_no_dup['Job Title'] = combined_df_no_dup['Job Title'].str.strip().str.title()
combined_df_no_dup['Industry'] = combined_df_no_dup['Industry'].str.strip().str.title()

print("Data standardization completed.")
print("\nUnique values in categorical columns:")
print("\nGender:", combined_df_no_dup['Gender'].unique())
print("\nEducation Level:", sorted(combined_df_no_dup['Education Level'].unique()))
print("\nIndustry:", sorted(combined_df_no_dup['Industry'].unique()))

## Step 11: Create Final Dataset

In [ ]:
# Select and reorder columns for final dataset
final_columns = [
    'Age',
    'Gender',
    'Education Level',
    'Job Title',
    'Years of Experience',
    'Work Hours',
    'Industry',
    'Salary'
]

final_df = combined_df_no_dup[final_columns].copy()

# Final check for missing values
print("Final dataset shape:", final_df.shape)
print("\nMissing values in final dataset:")
print(final_df.isnull().sum())
print("\nFinal dataset info:")
print(final_df.info())

## Step 12: Statistical Summary

In [ ]:
# Display statistical summary
print("Statistical Summary of Numerical Columns:")
print(final_df.describe())

print("\n" + "="*50 + "\n")
print("Value counts for categorical columns:")
print("\nGender distribution:")
print(final_df['Gender'].value_counts())
print("\nEducation Level distribution:")
print(final_df['Education Level'].value_counts())
print("\nTop 10 Job Titles:")
print(final_df['Job Title'].value_counts().head(10))
print("\nIndustry distribution:")
print(final_df['Industry'].value_counts())

## Step 13: Save the Final Dataset

In [ ]:
# Save the final cleaned dataset
final_df.to_csv('cleaned_salary_data.csv', index=False)
print("Final cleaned dataset saved as 'cleaned_salary_data.csv'")

# Display first 10 rows of final dataset
print("\nFirst 10 rows of the final dataset:")
final_df.head(10)

## Summary

The data preprocessing and cleaning process has been completed successfully:

1. **Combined three datasets** into a single DataFrame
2. **Removed duplicate entries**
3. **Handled missing values** using appropriate strategies (median, mode, domain knowledge)
4. **Corrected data entry errors** and standardized formats
5. **Normalized numerical values** to reasonable ranges
6. **Standardized categorical features** with consistent naming conventions
7. **Created the final dataset** with all required columns:
   - Age
   - Gender
   - Education Level (10th, 12th, ITI, Diploma, Graduation, Post Graduation, PHD)
   - Job Title
   - Work Hours
   - Industry
   - Years of Experience
   - Salary

The cleaned dataset is now ready for machine learning model development.